{erl_opts, [debug_info]}.
{deps, [
        {jiffy,   {git, "git://github.com/davisp/jiffy.git",     {tag, "0.14.11"}}},
        {uuid,    {git, "git://github.com/okeuday/uuid.git",     {tag, "v1.6.0"}}},
        {cowboy,  {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.7"}}},
        {hackney, {git, "git://github.com/benoitc/hackney.git",  {tag, "1.7.1"}}}
       ]}.

{relx, [{release, { delay, "0.1.0" },
         [delay,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },
            {test, [{deps, [
                            {gun, {git, "git://github.com/ninenines/gun.git", {tag, "1.0.0-pre.1"}}}
                           ]
                    },
                    {erl_opts, [debug_info]}
                   ]
            }
           ]
}.
